*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: black;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
    object-fit: cover; 
    
    
    
    
}

main{
    width: 1200px;
    margin: 0 auto;
    
    
    
}

.gallary img:hover{
    transform: scale(1.2);
    opacity: 3;
    outline: none;

}
.gallary{
    padding: 100px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}